{{ define "main" }}



<div class="container">
  <div class="row profile">
    <img src='{{"images/avatar.png" | relURL }}' alt="Yu Ma">
    <div class="profile-text">
      <h1 style="font-size: 3em; margin-bottom: 0; border-bottom: none; color: #3498DB;">Yu Ma</h1>
      <h5>Assistant Professor
        <br>University of Wisconsin, Madison
        <br>Operations &amp; Information Management
      </h5>
      <p><b>Email</b>: yu.ma (at) wisc (dot) edu</p>
      <p>
        <a href="https://scholar.google.com/citations?user=lkP7MqAAAAAJ&amp;hl=en&amp;oi=sra" style="color: #3498DB;">Google Scholar</a> |
        <a href="https://www.linkedin.com/in/yu-ma-502b46118/" style="color: #3498DB;">LinkedIn</a> |
        <a href="https://github.com/yuma-sudo" style="color: #3498DB;">GitHub</a> |
        <a href="https://orcid.org/0000-0001-8409-7222" style="color: #3498DB;">ORCiD</a> |
        <a href="https://x.com/yuma_or" style="color: #3498DB;">X</a>
      </p>
    </div>
  </div>

  <div class="row about">
    <h2>About Me</h2>
    <p> I’m currently an assistant professor at the <a href="https://business.wisc.edu/">Wisconsin School of Business</a>, in the <a href="https://business.wisc.edu/faculty-research/operations-information-management/">Operations and Information Management group</a>. My research focuses on the development of novel artificial intelligence and operations research methodologies to address significant problems in healthcare operations and policy. I obtained my PhD from MIT Operations Research Center under the guidance of <a href="https://www.dbertsim.mit.edu/">Dimitris Bertsimas</a>, and my BA from UC Berkeley's Applied Mathematics department. I will be moving this site soon, stay tuned.
    </p>
    <p> <b>If you are interested in working with me, please don't hesitate to reach out. </b>
    </p>

    <!-- <div style="text-align: center;">
        <a href="CV_2024.pdf" class="button button-primary">Download CV</a>
    </div> -->
  </div>


  <div class="row publications">
    <hr style="border: none; border-top: 1px solid #ccc; margin-bottom: 20px;">
    <h4>Integrative Artificial Intelligence</h4>
    <p style="font-size: 1.1em; text-align: center;"><i style="color: #d62828;">* (star) indicates first or lead PhD author. </i></p>
    <p style="font-size: 0.9em; text-align: center;">For transparency, all co-first authors, or authors with higher orders will be displayed</p>
    <p style="font-size: 0.9em; text-align: center;">IF indicates 5-year/latest impact factor for medical journals</p>

    <ul>
      <li>
        <a href="https://arxiv.org/abs/2404.18975" style="color: #3498DB;">M3H: Multimodal Multitask Machine Learning for Healthcare</a> <a href="https://arxiv.org/abs/2404.18975" class="label">Paper</a> <a href="https://www.linkedin.com/posts/aihealthmit_aiforgood-aiforhealth-machinelearningolutions-activity-7196598292015661057-rPy8?utm_source=share&amp;utm_medium=member_desktop" class="label">Media</a>
        <br>Dimitris Bertsimas, Yu Ma.
        <br><i style="color: #4c956c;"> To be submitted.</i>
        <br>
        <ul class="sub-list">
          <li> Oral Presentation NeurIPS AIM-FM Workshop (8% acceptance) </li>
          <li> Winner of INFORMS DMDA Workshop Best Paper (Applied Track) </li>
          <li> Third best talk at CMU YinzOR Flash Talk Competition </li>
        </ul>

      </li>

      <li>
        <a href="https://www.nature.com/articles/s41746-022-00689-4" style="color: #3498DB;">Integrated Multimodal Artificial Intelligence Framework for Healthcare Applications</a> <a href="https://www.nature.com/articles/s41746-022-00689-4" class="label">Paper</a> <a href="https://github.com/lrsoenksen/HAIM" class="label">Python Library</a>
        <br>(contribution) Luis R. Soenksen*, Yu Ma*, Cynthia Zeng*, Leonard Boussioux*, Kimberly Villalobos Carballo*, Liangyuan Na* et al.
        <br><i style="color: #4c956c;">npj Digital Medicine, 2022.</i>
        <br>
        <ul class="sub-list">
          <li>1st Place &amp; Presenter: Cognex Prize at MIT Machine Intelligence for Manufacturing and Operations (MIMO) Symposium 2022 <a href="https://mimo.mit.edu/2022-cognex-prize-winners" class="label">Media</a></li>
        </ul>
      </li>


    </ul>



    <h4>Responsible Optimization and Machine Learning </h4>
    <ul>

      <li>
        <a href="https://pubmed.ncbi.nlm.nih.gov/37843071/" style="color: #3498DB;">Personalized Breast Cancer Screening</a> <a href="https://pubmed.ncbi.nlm.nih.gov/37843071/" class="label">Paper</a>
        <br>Dimitris Bertsimas, Yu Ma, Omid Nohadani.
        <br><i style="color: #4c956c;">JCO Clinical Cancer Informatics, 2023</i>
        <br>
        <!-- <ul class="sub-list"> -->
        <!-- <li>MSOM 2024 under title <i>Data-Driven Optimal Scheduling for Personalized Breast Cancer Screening</i> <a href="https://drive.google.com/file/d/15Hrg-jWs2Qc1GGLq00-Guxep7JLk9_Ue/view" class="label">Program</a></li> -->
        <!-- </ul> -->
      </li>

      <li>
        <a href="https://arxiv.org/abs/2311.06960" style="color: #3498DB;">Robust Regression under Averaged Uncertainty Set</a> <a href="https://arxiv.org/abs/2311.06960" class="label">Paper</a>
        <br>Dimitris Bertsimas, Yu Ma.
        <br><i style="color: #4c956c;"> Under Revision.</i>
        <br>

      </li>

      <li>
        <a href="https://arxiv.org/abs/2403.19871" style="color: #3498DB;">Towards Stable Machine Learning Model Retraining via Slowly Varying Sequences</a> <a href="https://arxiv.org/abs/2403.19871" class="label">Paper</a>
        <br>(alphabetical) Dimitris Bertsimas, Vassilis Digalakis Jr, Yu Ma, Phevos Paschalidis.
        <br><i style="color: #4c956c;"> Submitted.</i>
        <br>

      </li>

    </ul>


    <h4>Analytics-Driven Clinical Policy Making</h4>

    <ul>
      <li>
        <a style="color: #3498DB;">Using Interpretable Artificial Intelligence to Optimize the Use of Imatinib Following Resection of Localized GIST: an Observational Cohort Study </a>
        <a href="https://www.sciencedirect.com/science/article/pii/S1470204524002596?dgcid=coauthor" class="label">Paper</a>
        <br>Dimitris Bertsimas, Georgios Antonios Margonis, Suleeporn Sujichantararat, Angelos Koulouras, Yu Ma, et al.
        <br><i style="color: #4c956c;">Lancet Oncology, 2024.</i>
        <br>

      </li>

      <li>
        <a href="https://jamanetwork.com/journals/jamasurgery/fullarticle/2792801" style="color: #3498DB;">Using Artificial Intelligence to Find the Optimal Margin Width in Hepatectomy for Colorectal Cancer Liver Metastases</a> <a href="https://jamanetwork.com/journals/jamasurgery/fullarticle/2792801" class="label">Paper</a>
        <br>Dimitris Bertsimas, Georgios Antonios Margonis, Suleeporn Sujichantararat, Thomas Boerner, Yu Ma, et al.
        <br><i style="color: #4c956c;">JAMA Surgery, 2022.</i>
        <br>

      </li>

      <li>
        <a href="https://www.redjournal.org/article/S0360-3016(23)00358-9/abstract" style="color: #3498DB;">Automated Segmentation of Sarcoma and Its Surrounding Muscles Using Deep Learning Ensemble</a> <a href="https://www.redjournal.org/article/S0360-3016(23)00358-9/abstract" class="label">Paper</a>
        <br> (alphabetical) Leonard Boussioux*, Yu Ma*, et al.
        <br><i style="color: #4c956c;">International Journal of Radiation Oncology, Biology, Physics, 2023.</i>
        <br>
      </li>

      <li>
        <a style="color: #3498DB;">Early Warning Index for Patient Deteriorations in Hospitals.</a>
        <!-- <a href="https://arxiv.org/abs/2206.10381" class="label">Paper</a> -->
        <br>Dimitris Bertsimas, Yu Ma, Kimberly Villalobos Carballo, et al.
        <br><i style="color: #4c956c;"> To be submitted.</i>
        <br>
      </li>

      <li>
        <a href="https://www.medrxiv.org/content/10.1101/2024.06.06.24308557v1" style="color: #3498DB;">Can Artificial Intelligence Improve the Appropriate Use and Decrease the Misuse of REBOA?</a>
        <a href="https://www.medrxiv.org/content/10.1101/2024.06.06.24308557v1" class="label">Paper</a>
        <br>(alphabetical) Mary Bokenkamp*, Yu Ma*, et al.
        <br><i style="color: #4c956c;"> Under Revision.</i>
        <br>

      </li>



      <li>
        <a href="https://pubmed.ncbi.nlm.nih.gov/34936469/" style="color: #3498DB;">Toward an Optimized Staging System for Pancreatic Ductal Adenocarcinoma: A Clinically Interpretable, Artificial Intelligence Based Model</a> <a href="https://pubmed.ncbi.nlm.nih.gov/34936469/" class="label">Paper</a>
        <br>Dimitris Bertsimas, Georgios Antonios Margonis, Yifei Huang, Nikolaos Andreatos, Holly Wiberg, Yu Ma, et al.
        <br><i style="color: #4c956c;">JCO Clinical Cancer Informatics, 2021.</i>
        <br>
      </li>

      <li>
        <a href="https://medrxiv.org/cgi/content/short/2024.06.19.24309166v1" style="color: #3498DB;">An artificial intelligence interpretable tool to predict risk of deep vein thrombosis after endovenous thermal ablation</a>
        <a href="https://medrxiv.org/cgi/content/short/2024.06.19.24309166v1" class="label">Paper</a>
        <br>(alphabetical) Azadeh Tabari*, Yu Ma*, et al.
        <br><i style="color: #4c956c;"> Journal of Vascular Surgery: Venous and Lymphatic Disorders.</i>
        <br>

      </li>

      <li>
        <a style="color: #3498DB;">Using Interpretable Artificial Intelligence Algorithms in the Management of Blunt Splenic Trauma: Applications of Optimal Policy Trees as a Treatment Prescription Aid To Improve Patient Mortality</a>
        <!-- <a href="https://arxiv.org/abs/2206.10381" class="label">Paper</a> -->
        <br>(alphabetical) Vahe S. Panossian*, Yu Ma*, et al.
        <br><i style="color: #4c956c;"> Bioengineering.</i>
        <br>
      </li>

      <li>
        <a style="color: #3498DB;">Towards Optimal Valve Prescription for Transcatheter Aortic Valve Replacement (TAVR) Surgery: An Optimal Policy Tree Approach</a>
        <!-- <a href="https://arxiv.org/abs/2403.19871" class="label">Paper</a> -->
        <br>Phevos Paschalidis, Vasiliki Stoumpou, Lisa Everest, Yu Ma, et al.
        <br><i style="color: #4c956c;"> Under Revision.</i>
        <br>

      </li>

      <li>
        <a style="color: #3498DB;">Prediction of Domestic Violence Abused Patients: A Multimodal Machine Learning Approach.</a>
        <!-- <a href="https://arxiv.org/abs/2206.10381" class="label">Paper</a> -->
        <br>Dimitris Bertsimas, Kimberly Villalobos Carballo, Jiayi Gu, Yu Ma, Bharti Khurana.
        <br><i style="color: #4c956c;"> Under Revision.</i>
        <br>
      </li>


      <li>
        <a href="https://arxiv.org/abs/2206.10381" style="color: #3498DB;">TabText: a Systematic Approach to Aggregate Knowledge Across Tabular Data Structures</a> <a href="https://arxiv.org/abs/2206.10381" class="label">Paper</a>
        <!-- <br>Kimberly Villalobos Carballo, Liangyuan Na, <strong>Yu Ma</strong>, et al. -->
        <br>Kimberly Villalobos Carballo, Liangyuan Na, Yu Ma, et al.
        <br><i style="color: #4c956c;"> Submitted.</i>
        <br>

      </li>

      <li>
        <a style="color: #3498DB;">LLM in E-commerce: Opportunities and Challenges.</a>
        <!-- <a href="https://arxiv.org/abs/2206.10381" class="label">Paper</a> -->
        <br>Yu Ma, Yuri M. Brovman, Jeff Kahn.
        <br><i style="color: #4c956c;"> Working Paper, in collaboration with eBay Recommendations.</i>
        <br>
      </li>

      <br>
    </ul>
  </div>


  <div class="row publications">
    <hr style="border: none; border-top: 1px solid #ccc; margin-bottom: 20px;">
    <h4>Awards</h4>
    <ul>
      <li>
        <a href="https://mittakedaprogram.mit.edu/"> Takeda Fellow, 2024-2025</a> <a href="https://mittakedaprogram.mit.edu/" class="label">Media</a>
        <br>
        <!-- <i><small>This fellowship is awarded to 12-13 PhD students each year across the MIT School of Engineering in recognition of their outstanding academic record, exceptional background, and promising future. </small></i> -->
      </li>
      <li>
        <a href="https://mimo.mit.edu/2022-cognex-prize-winners"> 1st Place &amp; Presenter: Cognex Prize at MIT MIMO Symposium 2022</a> <a href="https://mimo.mit.edu/2022-cognex-prize-winners" class="label">Media</a>
        <br>
        <!-- <i><small>The award highlights unique and innovative applications of advanced data analytics, optimization, and AI to complex operational challenges, and was scored highest by the judging panel across all grading criteria.</small></i> -->
      </li>
      <li>
        <a href="https://wellcome.org/grant-funding?gad_source=1&amp;gclid=CjwKCAjwyJqzBhBaEiwAWDRJVHHVuxVdkbJuili-jch4ZYnbjw09GB0__-gSmBU-Lflo7h8BX4yykhoCRtgQAvD_BwE"> Recipient of Wellcome Trust Fellowship, 2021-2023 </a>
        <!-- <br> -->
        <!-- <i><small>This award is given as part of the on-going collaboration with MIT J-Clinic. </small></i> -->
      </li>
      <!-- <li> -->
      <!-- <a style="color: #244c8c;" >1st Prize Operations Research Center’s Common Experience Deep Learning Challenge 2021</a> -->
      <!-- <br> -->
      <!-- <i><small>This award recognizes the top-3 teams in the mandatory challenge as part of the general exam. </small></i> -->
      <!-- </li> -->
      <!-- <li> -->
      <!-- <a href="https://www.informs.org/Recognizing-Excellence/Award-Recipients/Massachusetts-Institute-of-Technology"> Cum Laude, INFORMS Student Chapter Annual Awards 2021</a> <a href="https://www.informs.org/Recognizing-Excellence/Award-Recipients/Massachusetts-Institute-of-Technology" class="label">Media</a> -->
      <!-- <br> -->
      <!-- <i><small>The award recognizes achievements of student chapters and motivates them to perform well. </small></i> -->
      <!-- </li> -->
    </ul>
    <br>
    <!-- <figure> -->
    <!-- <img src="award logo.png" alt="Image 1 Description"> -->
    <!-- <figcaption>Caption for image 1</figcaption> -->
    <!-- </figure> -->
  </div>


  <div class="row publications">
    <hr style="border: none; border-top: 1px solid #ccc; margin-bottom: 20px;">

    <h4>Teaching</h4>
    <!-- <p style="font-size: 1.1em;">Everyone learns twice: first from being taught, and again from teaching others. Re-learning familiar knowledge through the eyes of vastly different students—each with unique background, academic interest, and even personality—adds depth to my own understanding. I often find this teaching experience very much like a research project itself, what motivates and fascinates each individual is drastically different, but finding a common ground, and further building on them, can almost always lead to pleasant surprises. -->
    <!-- </p> -->
    <!-- <br> -->

    <ul>
      <li>
        <strong>MIT 15.089 | Analytics Capstone Project, Spring &amp; Summer 2024, 2025</strong>
        <br>Faculty Advisor. Awarded Capstone of the Year 2024 <a href="https://mitsloan.mit.edu/ideas-made-to-matter/how-companies-use-generative-ai-to-execute-speed" class="label">Media</a>
      </li>
      <li>
        <strong>MIT 15.003 | Analytics Tools, Fall 2022 &amp; 2024, Spring 2025</strong>
        <br>Instructor; Graduate (Master)
      </li>


      <li>
        <strong>MIT 15.076 | Analytics for a Better World, Spring 2021, Spring 2025</strong>
        <br>TA, Instructor; Undergraduate
      </li>

      <li>
        <strong>MIT 15.095 | Machine Learning under a Modern Optimization Lens, Fall 2023 &amp; 2024</strong>
        <br>Guest Lecturer; Graduate (Master, PhD)
      </li>

      <li>
        <strong>MIT 15.727 | Analytics Edge, Spring 2022, 2023 &amp; 2024</strong>
        <br>TA/Head TA; Graduate (Executive MBA)
      </li>

      <!-- <li> -->
      <!-- <strong>MIT Master of Business Analytics Research Mentees (seven students)</strong> -->
      <!-- </li> -->
      <!-- <li> -->
      <!-- <strong>Undergraduate Research Mentees (seven students)</strong> -->
      <!-- </li> -->
    </ul>
  </div>



  <div class="row publications">
    <hr style="border: none; border-top: 1px solid #ccc; margin-bottom: 20px;">
    <!-- <h4>Talks</h4> -->
    <!-- <ul> -->
    <!-- <li> -->
    <!-- M3H: Multimodal Multitask Machine Learning for Healthcare -->
    <!-- <ul class="sub-list"> -->
    <!-- <li> Upcoming: MIT Operations Management Seminar 2024, Cambridge MA </li>  -->
    <!-- <li> INFORMS Annual Meeting DMDA Best Paper Competition (Applied Track) 2024, Seattle WA </li>  -->
    <!-- <li> INFORMS Annual Meeting Data Science Workshop 2024, Seattle WA </li>  -->
    <!-- <li> INFORMS Annual Meeting 2024, Seattle WA </li>  -->
    <!-- <li> Cornell ORIE Young Scholar Workshop 2024, Ithaca NY </li>  -->
    <!-- <li> CMU YinzOR Selected Flash Talk 2024, Pittsburgh PA </li>                  -->
    <!-- </ul>   -->
    <!-- </li> -->

    <!-- <li> -->
    <!-- Integrated Multimodal Artificial Intelligence Framework for Healthcare Applications -->
    <!-- <ul class="sub-list">
        <li> MIT-MGB AI Cures 2022, Cambridge MA </li>
        <li> MIT ORC Student Seminar 2022, Cambridge MA </li>
        <li> INFORMS Annual Meeting Meeting 2022, Indianapolis IN </li>
        <li> INFORMS Poster Competition 2022, Indianapolis IN </li>
        <li> MIT Machine Intelligence for Manufacturing and Operations (MIMO) 2022, Cambridge MA </li>
        <li> Keynote for Janssen Pharmaceuticals Conference 2022, Cambridge MA </li>
        <li> INFORMS Healthcare Conference 2023, Toronto Canada </li>
    </ul>   -->
    <!-- </li> -->

    <!-- <li> -->
    <!-- Personalized Breast Cancer Screening
    <ul class="sub-list">
        <li> INFORMS Annual Meeting 2023, Phoenix AZ </li>
        <li> INFORMS Healthcare Conference 2023, Toronto Canada </li>
        <li> Manufacturing & Services Operation Management (MSOM) Conference 2024, Minneapolis MN</li>
    </ul>   -->
    <!-- </li> -->


    <!-- <li>
        TabText: a Systematic Approach to Aggregate Knowledge Across Tabular Data Structures
        <ul class="sub-list">
            <li> INFORMS Annual Meeting 2022, The Future of Analytics and Operations Research Workshop, Indianapolis IN</li>
        </ul>
    </li>
-->
    <!-- <li>
        Automated Segmentation of Sarcoma and Its Surrounding Muscles Using Deep Learning Ensemble
        <ul class="sub-list">
            <li> MIT-MGB AI Cures 2022, Cambridge MA</li>
        </ul>
    </li> -->


    <!-- </ul> -->

    <!-- <div class="row figure-row"> -->
    <!-- <figure> -->
    <!-- <img src="collab.png" alt="Image 1 Description"> -->
    <!-- <figcaption>Caption for image 1</figcaption> -->
    <!-- </figure> -->


  </div>

</div>


{{ end }}
